PORT=3000
JWT_SECRET=
REFRESH_SECRET=
MONGO_URI=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
FRONTEND_URL=http://localhost:3000  # For verification/reset password link
OPENCAGE_API_KEY=
GOOGLE_MAPS_API_KEY=
NODE_ENV=development
COOKIE_DOMAIN=localhost
COOKIE_SECURE=false
COOKIE_SAME_SITE=strict
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
